{% extends 'base.html' %}
{% block content %}

<p hidden id="char-id">{{ char_id }}</p>
<div class="container mt-5">
    <div class="row">
        <div class="col-1 border">
            <img src="" class="img-thumbnail" alt="Avatar" id="character-thumbnail" style="display: inline;">
        </div>
        <div class="col-9 border border-end-0">
            <p class="align-top fs-3" style="font-weight: bold; margin-bottom: 0;" id="character-name"></p>
            <p class="align-top fs-5" id="character-server"></p>
        </div>
        {% if g.user %}
            <div class="col-2 border d-flex align-items-center">
                <div class="mx-auto m-0">
                    {% if followed is none %}
                        <form action="/character/id/{{ char_id }}/follow" method="POST">
                            <input id="followname" name="followname" type="text" hidden>
                            <input id="followserver" name="followserver" type="text" hidden>
                            <input id="followportrait" name="followportrait" type="text" hidden>
                            <button type="submit" class="btn btn-secondary border" style="width: 80px; height: 40px;" id="follow-character">
                                <p class="m-0" style="font-size: 13px">Follow</p>
                            </button>
                        </form>
                    {% else %}
                        <form action="/character/id/{{ char_id }}/unfollow" method="POST" id="unfollow-form">
                        </form>
                        <button type="submit" class="btn btn-secondary border" style="width: 80px; height: 40px;" id="unfollow-character">
                            <p class="m-0" style="font-size: 13px">Unfollow</p>
                        </button>
                    {% endif %}
                </div>
                <div class="mx-auto m-0">
                    {% if character.user_id != g.user.id and claimed == False %}
                        <form action="/character/id/{{ char_id }}/link" method="POST">
                            <input id="linkname" name="linkname" type="text" hidden>
                            <input id="linkserver" name="linkserver" type="text" hidden>
                            <input id="linkportrait" name="linkportrait" type="text" hidden>
                            <button type="submit" class="btn btn-secondary border" style="width: 80px; height: 40px;" id="claim-character">
                                <p class="m-0" style="font-size: 13px">Link</p>
                            </button>
                        </form>
                    {% elif character.user_id == g.user.id %}  
                        <form action="/character/id/{{ char_id }}/unlink" method="POST" id="unlink-form">
                        </form>
                        <button type="submit" class="btn btn-secondary border" style="width: 80px; height: 40px;" id="unclaim-character">
                            <p class="m-0 danger" style="font-size: 13px">Unlink</p>
                        </button>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="col-2 border border-start-0">
            </div>
        {% endif %}
    </div>
    <div id="fflogs-container">
        <div class="row border" style="margin-top: 10px">
            <p class="text-center fs-5 align-middle" style="margin-top: 10px">FFLogs</p>
        </div>
        <div class="row">
            <div class="col-4 border">
                <p class="text-center" style="margin-top: 10px">Boss</p>
            </div>
            <div class="col-2 border">
                <p class="text-center" style="margin-top: 10px">Best %</p>
            </div>
            <div class="col-2 border">
                <p class="text-center" style="margin-top: 10px">Job</p>
            </div>
            <div class="col-2 border">
                <p class="text-center" style="margin-top: 10px">Highest rDPS</p>
            </div>
            <div class="col-1 border">
                <p class="text-center" style="margin-top: 10px">Median</p>
            </div>
            <div class="col-1 border">
                <p class="text-center" style="margin-top: 10px">Kills</p>
            </div> 
        </div>
        <div class="row">
            <div class="col-4 border">
                <p id="boss1-name" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss1-rank" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss1-job" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss1-highest" class="text-center"></p>
            </div>
            <div class="col-1 border">
                <p id="boss1-median" class="text-center"></p>
            </div>
            <div class="col-1 border">
                <p id="boss1-kills" class="text-center"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 border">
                <p id="boss2-name" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss2-rank" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss2-job" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss2-highest" class="text-center"></p>
            </div>
            <div class="col-1 border">
                <p id="boss2-median" class="text-center"></p>
            </div>
            <div class="col-1 border">
                <p id="boss2-kills" class="text-center"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 border">
                <p id="boss3-name" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss3-rank" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss3-job" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss3-highest" class="text-center"></p>
            </div>
            <div class="col-1 border">
                <p id="boss3-median" class="text-center"></p>
            </div>
            <div class="col-1 border">
                <p id="boss3-kills" class="text-center"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 border">
                <p id="boss4-name" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss4-rank" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss4-job" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss4-highest" class="text-center"></p>
            </div>
            <div class="col-1 border">
                <p id="boss4-median" class="text-center"></p>
            </div>
            <div class="col-1 border">
                <p id="boss4-kills" class="text-center"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 border">
                <p id="boss5-name" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss5-rank" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss5-job" class="text-center"></p>
            </div>
            <div class="col-2 border">
                <p id="boss5-highest" class="text-center"></p>
            </div>
            <div class="col-1 border">
                <p id="boss5-median" class="text-center"></p>
            </div>
            <div class="col-1 border">
                <p id="boss5-kills" class="text-center"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-7 border" style="margin-top: 10px; margin-right: 10px; padding: 0px; width: 270px; height: 650px;">
            <div class="border">
                <p style="margin-left:10px; margin-bottom: 0px;">Jobs</p>
            </div>
            <div style="margin-left:5px; margin-top: 5px">
                <div class="container" id="job-list">
                </div>
            </div>
        </div> 
        <div class="col border" style="margin-top: 10px; margin-right: 10px; padding: 0px; height: 650px">
            <div class="border">
                <p style="margin-left:10px; margin-bottom: 0px;">Gearsets</p>
            </div>
            <div class="row">
                <div class="col" id="gearset-list">
                    {% if gearsets is not none %}
                        <ul style="height:610px; overflow-y: scroll;">
                        {% for gearset in gearsets %}
                            <li><p style="padding-left: 10px; padding-top: 5px; margin: 0px"><a href="/gearset/id/{{ gearset.id }}">{{ gearset.job }} - {{ gearset.name }}</a></p></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-center">No Found Gearsets</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-8 border" style="height: 650px; width: 270px; margin-top: 10px; padding: 0%;">
            <img src="" width="270" height="650" class="float-end" style="object-fit: cover;" alt="Portrait" id="character-portrait">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/character_profile.js"></script>
{% endblock %}