{% extends 'base.html' %}
{% block content %}

<p hidden id="char-id">{{ char_id }}</p>
<div class="container mt-5">
    <div class="row">
        <div class="col-15 border">
            <img src="" class="img-thumbnail" alt=" " id="character-thumbnail" style="display: inline;">
            <p style="display: inline;" id="character-name"></p>
            <p id="character-server"></p>
            <button>Yo</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Gearsets
        </div>
        <div class="col-4">
            <img src="" class="img-fluid" alt=" " id="character-portrait">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/character_profile.js"></script>
{% endblock %}