{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            {% if static.faction == 'Twin Addler' %}
                <img src="/static/images/faction/faction-0.png" style="width:175px;height: 210px;">
            {% elif static.faction == 'Immortal Flames' %}
                <img src="/static/images/faction/faction-1.png" style="width:175px;height: 210px;">
            {% else %}
                <img src="/static/images/faction/faction-2.png" style="width:175px;height: 210px;">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h3>{{static.name}}</h3>
        </div>
    </div>
</div>
<br>
<div class="container text-center border">
    <div class="row">
        <div class="col">
            <h4>Static Members</h4>
        </div>
    </div>
</div>
<div class="container border">
    <div class="row">
        {% for member in static.members %}
            <a href="/profile/id/{{member.user_id}}">{{member.username}}</a>
        {% endfor %}
    </div>
</div>

{% endblock %}